@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my library Website! First projekt!</h1>
    <p>Hope you enjoy this!</a>.</p>

    <p> Feel free to go to "Books" And add your books!</p>
</div>
